body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    /* Separete logo and links */
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.header-logo {
    font-size: 24px;
}

/* .header-links {
    color: #E5E7EB;
} */
/* This was doing nothing */

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
  /* arranged in columns instead of rows */
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-section {
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.header-section-head {
   font-size: 48px; 
}

.sign-up-button1 {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border: 0;
    padding: 5px;
}

.section1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 50px;
}

.section1-container {
    color: #1F2937;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.section1-info {
    max-width: 150px;
}

.section1-box {
    width: 150px;
    height: 150px;
    border: solid #3882F6;
}

.section1-text {
    margin-top: 10px;
}

.section2 {
    background-color: #E5E7EB;
    font-style: italic;
    color: #1F2937;
    padding: 100px;
}

.section2-sub1 {
    font-size: 36px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 660px;
    margin: 0 auto;
}

.section2-sub2 {
    font-weight: bolder;
    font-size: 24px;
    text-align: right;
    max-width: 660px;
    margin: 0 auto;
}

.section3 {
    background-color: #3882F6;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.sign-up-button2 {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border-color: #E5E7EB;
    padding: 5px;
}

.footer {
    background-color: #1F2937;
    color: white;
    font-size: 18px;

    display: flex;
    align-items: end;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}

 